.hero-area-bg {
    background-size: cover;
  }

  
.headerBackground {
  background-color: black;
  box-shadow: 0 0 10px black;

}
  
  #hero-area {
    color: #fff;
    overflow: hidden;
    position: relative;
    height: 600px;
  }
  
  #hero-area .contents {
    padding: 175px 0px 120px;
  }
  
  #hero-area .contents h5 {
    font-size: 50px;
  }
  
  #hero-area .contents .head-title {
     letter-spacing: 10px;
     text-transform: uppercase;
     font-weight: 700;
  }
  
  #hero-area .contents p {
    font-size: 50px;
    color: #fff;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 25px;
  }
  
.hero-heading {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
  line-height: 70px;
  letter-spacing: 0.1rem;
}

.hero-sub-heading {
  font-size: 20px;
  font-weight: 400;
  color: #e6e6e6;
  line-height: 45px;
  letter-spacing: 0.1rem;
}

.indigo {
  background: black;
}


.top-nav-collapse {
  background: black;
  z-index: 999999;
  top: 0px !important;
  min-height: 58px;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  background: black !important;
}

.top-nav-collapse .navbar-brand {
  top: 0px;
}

.top-nav-collapse .navbar-brand img {
  width: 42%;
}

.top-nav-collapse .navbar-nav .nav-link {
  color: #333 !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.top-nav-collapse .navbar-nav .nav-link:hover {
  cursor: pointer;
  color: #1d6734 !important;
}

.top-nav-collapse .navbar-nav li.active a.nav-link {
  color: #1d6734 !important;
}

.navbar-toggler {
  display: none;
}

.mobile-menu {
  display: none;
}