<header id="header-wrap">
  <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
    <div class="container">
      <div class="navbar-header">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#main-navbar"
          aria-controls="main-navbar"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
          <span class="icon-menu"></span>
          <span class="icon-menu"></span>
          <span class="icon-menu"></span>
        </button>
        <a href="/" class="navbar-brand"
          ><img src="assets/img/logohvitt.png" alt=""
        /></a>
      </div>

      <div class="collapse navbar-collapse" id="main-navbar">
        <ul
          class="onepage-nev nav navbar-nav mr-auto w-100 justify-content-end clearfix"
        >
          <li class="nav-item active">
            <a class="nav-link" href="#home">
              Heima
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">
              Um mig
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#training">
              Þjálfun
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#price">
              Verðskrá
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">
              Skráning
            </a>
          </li>
          <li>
            <a class="facebook" href="#"
              ><i class="icon-social-facebook"></i
            ></a>
          </li>
          <li>
            <a
              class="instagram"
              href="https://www.instagram.com/lightweight.is/?fbclid=IwAR3qeXM-t_kBtm3sjpsh0WwXo8_YkzyqRT4ozoMvpn7zXzbPhEVCww7JVK0"
              ><i class="icon-social-instagram"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>

    <ul class="onepage-nev mobile-menu">
      <li>
        <a href="#home">Heima</a>
      </li>
      <li>
        <a href="#about">Um Mig</a>
      </li>
      <li>
        <a href="#training">Þjálfun</a>
      </li>
      <li>
        <a href="#price">Verðskrá</a>
      </li>
      <li>
        <a href="#contact">Skráning</a>
      </li>
    </ul>
  </nav>

  <div id="home" class="hero-area-bg container headerBackground">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 text-center">
          <div class="contents">
            <h5 class="script-font wow fadeInUp" data-wow-delay="0.2s"></h5>
            <h2 class="head-title wow fadeInUp" data-wow-delay="0.4s">
              Agnar Tryggvason
            </h2>
            <p class="script-font wow fadeInUp" data-wow-delay="0.6s">
              Einkaþjálfari
            </p>
            <ul class="social-icon wow fadeInUp" data-wow-delay="0.8s">
              <img
                class="script-fonts"
                src="assets/img/logohvitt.png"
                alt=""
                height="200px"
                width="701.6px"
              />
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
