.hero-area-bg {
  background-size: cover;
}

// .headerBackground {
//   background-color: black;
//   box-shadow: 0 0 10px black;
// }

#hero-area {
  color: #fff;
  overflow: hidden;
  position: relative;
  height: 600px;
}

#hero-area .contents {
  padding: 175px 0px 120px;
}

#hero-area .contents h5 {
  font-size: 50px;
}

#hero-area .contents .head-title {
  letter-spacing: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

#hero-area .contents p {
  font-size: 50px;
  color: #fff;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 25px;
}

.hero-heading {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
  line-height: 70px;
  letter-spacing: 0.1rem;
}

.hero-sub-heading {
  font-size: 20px;
  font-weight: 400;
  color: #e6e6e6;
  line-height: 45px;
  letter-spacing: 0.1rem;
}

.indigo {
  background: black;
}

.top-nav-collapse {
  background: black;
  z-index: 999999;
  top: 0px !important;
  min-height: 58px;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  background: black !important;
}

.top-nav-collapse .navbar-brand {
  top: 0px;
}

.instagram {
  color: purple;
  font-size: large;
}

.facebook {
  font-size: large;
}

.top-nav-collapse .navbar-brand img {
  width: 60%;
  margin: 5px;
}

    #hero-area .contents .script-fonts {
      height: 100px;
      width: 250px;
    }

.top-nav-collapse .navbar-nav .nav-link {
  color: #333 !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.top-nav-collapse .navbar-nav .nav-link:hover {
  cursor: pointer;
  color: #1d6734 !important;
}

.top-nav-collapse .navbar-nav li.active a.nav-link {
  color: #1d6734 !important;
}

.navbar-toggler {
  display: none;
}

.mobile-menu {
  display: none;
}

/* mobile/iPhone5-SE */
@media screen and (max-width: 320px) {
  .hero-area-bg {
    background-size: auto;
  }
  .top-nav-collapse .navbar-brand img {
    width: 50%;
    margin: 5px;
  }

      #hero-area .contents .script-fonts {
        height: 75px;
        width: 200px;
      }
  #hero-area {
    color: #fff;
    overflow: hidden;
    position: relative;
    height: 330px;
  }
  #hero-area .contents .head-title {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 700;
  }
  #hero-area .contents {
    padding: 70px 0px 120px;
  }
  #hero-area .contents h2 {
    font-size: 30px;
  }
  #hero-area .contents p {
    font-size: 25px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 25px;
  }
}

/* mobile/iPhone6-7-8 */
@media screen and (min-width: 321px) and (max-width: 375px) {
  .hero-area-bg {
    background-size: auto;
  }
  #hero-area {
    color: #fff;
    overflow: hidden;
    position: relative;
    height: 390px;
  }
  .top-nav-collapse .navbar-brand img {
    width: 50%;
    margin: 5px;
  }

      #hero-area .contents .script-fonts {
        height: 75px;
        width: 200px;
      }
  #hero-area .contents .head-title {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 700;
  }
  #hero-area .contents {
    padding: 100px 0px 120px;
  }
  #hero-area .contents h2 {
    font-size: 30px;
  }
  #hero-area .contents p {
    font-size: 25px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 25px;
  }
}

/* mobile/iPhone6-7-8 Plus */
@media screen and (min-width: 376px) and (max-width: 414px) {
  .hero-area-bg {
    background-size: auto;
  }
  #hero-area {
    color: #fff;
    overflow: hidden;
    position: relative;
    height: 390px;
  }
  .top-nav-collapse .navbar-brand img {
    width: 50%;
    margin: 5px;
  }

      #hero-area .contents .script-fonts {
        height: 75px;
        width: 200px;
      }
  #hero-area .contents .head-title {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 700;
  }
  #hero-area .contents {
    padding: 120px 0px 120px;
  }
  #hero-area .contents h2 {
    font-size: 30px;
  }
  #hero-area .contents p {
    font-size: 25px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 25px;
  }
}


/* iPad */
@media screen and (min-width: 415px) and (max-width: 768px) {
  .hero-area-bg {
    background-size: auto;
  }
  #hero-area {
    color: #fff;
    overflow: hidden;
    position: relative;
    height: 430px;
  }
  .top-nav-collapse .navbar-brand img {
    width: 50%;
    margin: 5px;
  }

      #hero-area .contents .script-fonts {
        height: 130px;
        width: 500px;
      }
  #hero-area .contents .head-title {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 700;
  }
  #hero-area .contents {
    padding: 120px 0px 120px;
  }
  #hero-area .contents h2 {
    font-size: 50px;
  }
  #hero-area .contents p {
    font-size: 35px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 25px;
  }
}

/* iPad Pro */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .hero-area-bg {
    background-size: auto;
  }
  #hero-area {
    color: #fff;
    overflow: hidden;
    position: relative;
    height: 430px;
  }
  .top-nav-collapse .navbar-brand img {
    width: 50%;
    margin: 5px;
  }

      #hero-area .contents .script-fonts {
        height: 130px;
        width: 500px;
      }
  #hero-area .contents .head-title {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 700;
  }
  #hero-area .contents {
    padding: 120px 0px 120px;
  }
  #hero-area .contents h2 {
    font-size: 50px;
  }
  #hero-area .contents p {
    font-size: 35px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 25px;
  }
}
