<footer class="footer-area section-padding2">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div
          class="footer-text text-center wow fadeInDown"
          data-wow-delay="0.3s"
        >
          <ul class="social-icon">
            <li>
              <p>lightweight@lightweight.is</p>
            </li>
            <br />
            <li>
              <a class="facebook" href="#"
                ><i class="icon-social-facebook"></i
              ></a>
            </li>
            <li>
              <a
                class="instagram"
                href="https://www.instagram.com/lightweight.is/?fbclid=IwAR3qeXM-t_kBtm3sjpsh0WwXo8_YkzyqRT4ozoMvpn7zXzbPhEVCww7JVK0"
                ><i class="icon-social-instagram"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="footer-text text-center wow fadeInDown"
          data-wow-delay="0.3s"
        >
          <p>
            2020 Lightweight.is<br />
            Vefhönnuður: Tómas Tryggvason<br />
            Grafískur hönnuður: Laufey Guðnadóttir
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="footer-text text-center wow fadeInDown"
          data-wow-delay="0.3s"
        >
          <img src="assets/img/logohvitt.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</footer>
