<section id="price" class="resume">
  <div
    class="onepage-nev navbar-nav mr-auto w-100 justify-content-end clearfix"
  >
    <div class="container section-padding3 priceBackground">
      <div class="verdTexti">
        <h2 style="text-align: center;">
          Verðskrá fyrir Fjarþjálfun og Einkaþjálfun
        </h2>
        <p class="smallText">
          Lightweight.is áskilur sér réttinn til að breyta verðum án fyrirvara
        </p>
        <div class="columns">
          <ul class="price">
            <li class="header">Fjarþjálfun</li>
            <li class="grey"><b>14.000 kr.-</b></li>
            <li>Æfingaáætlun</li>
            <li>Mataræði</li>
            <li>Mælingar(<b>auka 3.000kr-</b>)</li>
            <li>Eftirfylgni</li>
            <li class="grey nav-link">
              <a href="#contact" class="buttonPrice">Skrá mig</a>
            </li>
          </ul>
        </div>

        <div class="columns">
          <ul class="price">
            <li class="header">Einkaþjálfun</li>
            <li class="grey"><b>50.000 til 80.000 kr.-</b></li>
            <li>Allt úr Fjarþjálfun*</li>
            <li>Mælingar</li>
            <li>Þjálfari með þér</li>
            <li>
              1-3x í viku: <b>50.000kr-</b> | 4x í viku: <b>65.000kr-</b> | 5x í
              viku: <b>80.000kr-</b>
            </li>
            <li class="grey nav-link">
              <a href="#contact" class="buttonPrice">Skrá mig</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
