<section data-aos="fade-up" data-aos-duration="3000" id="contact">
  <div class="contact-form">
    <div class="container">
      <div class="row contact-form-area">
        <div class="col-md-6 col-lg-6 col-sm-12">
          <h2>Umsókn í fjarþjálfun</h2>
          <div class="footer-right-area">
            <form style="width: 100%; margin: auto;" id="myForm">
              <mat-card>
                <h1>Fjarþjálfun</h1>

                <mat-radio-group
                  aria-labelledby="example-radio-group-label"
                  class="radio-group"
                  [(ngModel)]="maeling"
                  [formControl]="maelingControl"
                >
                  <mat-radio-button
                    class="radio-button"
                    *ngFor="let maelingValins of maelingValin"
                    [value]="maelingValins"
                  >
                    {{ maelingValins }}
                  </mat-radio-button>
                </mat-radio-group>
                <div class="askrift" *ngIf="maeling === 'með mælingu'">
                  <div>
                    Þú hefur valið áskrift <b>{{ maeling }}</b>
                    <br />
                  </div>
                  <div>
                    <del style="color: red;">
                      <b style="color: #1d6734; padding-right: 5px;"
                        >17.000 kr.-</b
                      >
                    </del>
                    <b style="color: #1d6734;">13.600kr</b>
                  </div>
                </div>
                <div class="askrift" *ngIf="maeling === 'án mælingu'">
                  Þú hefur valið áskrift <b>{{ maeling }}</b
                  ><br />
                  <del style="color: red;">
                    <b style="color: #1d6734; padding-right: 5px;"
                      >14.000 kr.-</b
                    >
                  </del>
                  <b style="color: #1d6734;">11.200kr</b>
                </div>

                <mat-form-field style="width: 80%;">
                  <input
                    matInput
                    placeholder="Fullt nafn"
                    [formControl]="nameFormControl"
                  />
                  <mat-error *ngIf="nameFormControl.hasError('minlength')">
                    Skrá fullt nafn
                  </mat-error>
                  <mat-error *ngIf="nameFormControl.hasError('required')">
                    Nafn <strong>verður</strong> að vera
                  </mat-error>
                </mat-form-field>
                <br />
                <mat-form-field style="width: 80%;">
                  <input
                    matInput
                    placeholder="Aldur"
                    [formControl]="ageFormControl"
                  />
                  <mat-error *ngIf="ageFormControl.hasError('minlength')">
                    Lágmarks aldur er 16 ára
                  </mat-error>
                  <mat-error *ngIf="ageFormControl.hasError('required')">
                    Aldur <strong>verður</strong> að vera
                  </mat-error>
                </mat-form-field>
                <br />
                <mat-form-field style="width: 80%;">
                  <input
                    matInput
                    placeholder="Netfang"
                    [formControl]="emailFormControl"
                  />
                  <mat-error *ngIf="emailFormControl.hasError('email')">
                    Skráðu inn þitt netfang
                  </mat-error>
                  <mat-error *ngIf="emailFormControl.hasError('required')">
                    Netfang <strong>verður</strong> að vera
                  </mat-error>
                </mat-form-field>
                <br />
                <form #imageForm="ngForm">
                  <img
                    [src]="imageUrl"
                    style="
                      width: 90px;
                      height: 90px;
                      margin-top: 10px;
                      margin-bottom: 10px;
                      margin-left: 5px;
                    "
                  />
                  <span class="myndOption">Mynd (valmöguleiki)*</span><br />
                  <button
                    mat-stroked-button
                    type="button"
                    (click)="Image.click()"
                  >
                    Velja mynd
                  </button>
                  <input
                    type="file"
                    #Image
                    accept="image/*"
                    (change)="handleFileInput($event.target.files)"
                    [formControl]="myndControl"
                  />
                </form>
                <hr />
                <button
                  id="myBtn"
                  class="col"
                  mat-raised-button
                  [disabled]="
                    emailFormControl.invalid ||
                    nameFormControl.invalid ||
                    maelingControl.invalid ||
                    ageFormControl.invalid ||
                    loading
                  "
                  color="primary"
                  (click)="register()"
                >
                  {{ buttionText }}
                </button>
                <div class="col-sm-12" *ngIf="loading">
                  <app-loading-spinner></app-loading-spinner>
                </div>
                <div *ngIf="stadan1 === 'VILLA'">
                  <hr />
                  <b style="color: red;">Ekki tókst að senda umsókn</b><br />
                  <span>Vinsamlegast reyndu aftur</span>
                </div>
                <div *ngIf="stadan1 === 'tokst'">
                  <hr />
                  <b style="color: #1d6734;">Umsókn tókst</b><br />
                  <span>Staðfesting hefur verið send á þitt netfang</span>
                </div>
              </mat-card>
            </form>
          </div>
        </div>

        <div class="col-md-6 col-lg-6 col-sm-12">
          <div class="footer-right-area">
            <h2>Umsókn í einkaþjálfun</h2>
            <form style="width: 100%; margin: auto;">
              <mat-card>
                <h1>Einkaþjálfun</h1>

                <mat-radio-group
                  aria-labelledby="example-radio-group-label"
                  class="radio-group"
                  [(ngModel)]="validVerd"
                  [formControl]="verdControl"
                >
                  <mat-radio-button
                    class="radio-button"
                    *ngFor="let verds of verd"
                    [value]="verds"
                  >
                    {{ verds }}
                  </mat-radio-button>
                </mat-radio-group>
                <div class="askrift" *ngIf="validVerd === '1-3x í viku'">
                  Þú hefur valið áskrift að andvirði:
                  <del style="color: red;">
                    <b style="color: black; padding-right: 5px;"
                      >50.000 kr.-</b
                    > </del
                  ><b>40.000kr</b><br />
                  <b style="color: #1d6734;">{{ validVerd }}</b>
                </div>
                <div class="askrift" *ngIf="validVerd === '4x í viku'">
                  Þú hefur valið áskrift að andvirði:
                  <del style="color: red;">
                    <b style="color: black; padding-right: 5px;">65.000 kr.-</b>
                  </del>
                  <b>52.000kr</b><br />
                  <b style="color: #1d6734;">{{ validVerd }}</b>
                </div>
                <div class="askrift" *ngIf="validVerd === '5x í viku'">
                  Þú hefur valið áskrift að andvirði:
                  <del style="color: red;">
                    <b style="color: black; padding-right: 5px;">80.000 kr.-</b>
                  </del>
                  <b>64.000kr</b><br />
                  <b style="color: #1d6734;">{{ validVerd }}</b>
                </div>

                <mat-form-field style="width: 80%; outline: none;">
                  <input
                    style="outline: none;"
                    matInput
                    placeholder="Fullt nafn"
                    [formControl]="nameFormControl2"
                  />
                  <mat-error *ngIf="nameFormControl2.hasError('minlength')">
                    Skrá fullt nafn
                  </mat-error>
                  <mat-error *ngIf="nameFormControl2.hasError('required')">
                    Nafn <strong>verður</strong> að vera
                  </mat-error>
                </mat-form-field>
                <br />
                <mat-form-field style="width: 80%;">
                  <input
                    matInput
                    placeholder="Aldur"
                    [formControl]="ageFormControl2"
                  />
                  <mat-error *ngIf="ageFormControl2.hasError('minlength')">
                    Lágmarks aldur er 16 ára
                  </mat-error>
                  <mat-error *ngIf="ageFormControl2.hasError('required')">
                    Aldur <strong>verður</strong> að vera
                  </mat-error>
                </mat-form-field>
                <br />
                <mat-form-field style="width: 80%;">
                  <input
                    matInput
                    placeholder="Netfang"
                    [formControl]="emailFormControl2"
                  />
                  <mat-error *ngIf="emailFormControl2.hasError('email')">
                    Skráðu inn þitt netfang
                  </mat-error>
                  <mat-error *ngIf="emailFormControl2.hasError('required')">
                    Netfang <strong>verður</strong> að vera
                  </mat-error>
                </mat-form-field>
                <br />

                <form #imageForm="ngForm">
                  <img
                    [src]="imageUrl2"
                    style="
                      width: 90px;
                      height: 90px;
                      margin-top: 10px;
                      margin-bottom: 10px;
                      margin-left: 5px;
                    "
                  />
                  <span class="myndOption">Mynd (valmöguleiki)*</span><br />
                  <button
                    mat-stroked-button
                    type="button"
                    (click)="Image2.click()"
                  >
                    Velja mynd
                  </button>
                  <input
                    type="file"
                    #Image2
                    accept="image/*"
                    (change)="handleFileInput2($event.target.files)"
                    [formControl]="myndControl2"
                  />
                </form>
                <hr />
                <button
                  class="col"
                  mat-raised-button
                  [disabled]="
                    emailFormControl2.invalid ||
                    nameFormControl2.invalid ||
                    verdControl.invalid ||
                    ageFormControl2.invalid ||
                    loading2
                  "
                  color="primary"
                  (click)="register2()"
                >
                  {{ buttionText2 }}
                </button>
                <div class="col-sm-12" *ngIf="loading2">
                  <app-loading-spinner></app-loading-spinner>
                </div>
                <div *ngIf="stadan2 === 'VILLA'">
                  <hr />
                  <b style="color: red;">Ekki tókst að senda umsókn</b><br />
                  <span>Vinsamlegast reyndu aftur</span>
                </div>
                <div *ngIf="stadan2 === 'tokst'">
                  <hr />
                  <b style="color: #1d6734;">Umsókn tókst</b><br />
                  <span>Staðfesting hefur verið send á þitt netfang</span>
                </div>
              </mat-card>
            </form>
          </div>
        </div>
        <div class="col-md-12">
          <object
            style="padding-top: 60px; border: 0; height: 600px; width: 100%;"
            data="https://www.google.com/maps/d/embed?mid=1gX3wOdWjcASPN-gyG4qoYGtU4tmEpvB0"
          ></object>
        </div>
      </div>
    </div>
  </div>
</section>
