.dinamic {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
}

.mat-button,
.mat-raised-button {
  background-color: green;
}

.mat-form-field.input {
  outline: none;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 40px;
}

.radio-group {
  display: flex;
}

.radio-button {
  margin: 5px;
}

.radio-buttons {
  margin-left: 30px;
}

.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.5s;
}

.check-element {
  border: 1px solid black;
  opacity: 1;
  padding: 10px;
}

.askrift {
  margin: 10px;
}

.contact-form-area {
  background: whitesmoke;
  box-shadow: 0 0 3px whitesmoke;
  padding: 60px 40px;
}

.contact-form-area h2 {
  font-size: 18px;
  text-transform: uppercase;
}

#contact {
  position: relative;
  overflow: hidden;
}

#contact #contactForm {
  margin-top: 30px;
}

/* mobile/iPhone5-SE */
@media screen and (max-width: 320px) {
  .about,
  .services,
  .resume,
  .contact-form {
    padding: 20px;
  }

  .radio-group {
    display: inline;
  }

  .footer-right-area:first-child .radio-button:nth-child(-n+3) {
    margin: -3px;
    padding-top: 4px;
    padding-right: 40px;
    font-size: 13px;
  }

  .radio-button:nth-last-of-type(-n+2) {
    margin: -10px;
    padding-top: 10px;
    font-size: 13px;
  }

  .radio-buttons {
    margin-left: 30px;
  }

  .askrift {
    margin: 10px;
    font-size: 12px;
  }

  .contact-form-area {
    background: whitesmoke;
    box-shadow: 0 0 3px whitesmoke;
    padding: 10px 0px;
  }
  .footer-right-area {
    margin-bottom: 20px;
  }

  .contact-form-area h2 {
    font-size: 15px;
    text-transform: uppercase;
  }
}

/* mobile/iPhone6-7-8 */
@media screen and (min-width: 321px) and (max-width: 375px) {
  .about,
  .services,
  .resume,
  .contact-form {
    padding: 20px;
  }

  .radio-group {
    display: inline;
  }

  .footer-right-area:first-child .radio-button:nth-child(-n+3) {
    margin: -2px;
    padding-top: 4px;
    padding-right: 54px;
    font-size: 16px;
  }

  .radio-button:nth-last-of-type(-n+2) {
    margin: -6px;
    padding-top: 10px;
    font-size: 15px;
  }

  .radio-buttons {
    margin-left: 30px;
  }

  .askrift {
    margin: 10px;
    font-size: 12px;
  }

  .contact-form-area {
    background: whitesmoke;
    box-shadow: 0 0 3px whitesmoke;
    padding: 10px 0px;
  }
  .footer-right-area {
    margin-bottom: 20px;
  }

  .contact-form-area h2 {
    font-size: 15px;
    text-transform: uppercase;
  }
}

/* mobile/iPhone6-7-8 Plus */
@media screen and (min-width: 376px) and (max-width: 414px) {
  .about,
  .services,
  .resume,
  .contact-form {
    padding: 20px;
  }

  // .radio-group {
  //   display: inline;
  // }

  .footer-right-area:first-child .radio-button:nth-child(-n+3) {
    margin: -7px;
    padding-top: 13px;
    padding-right: 41px;
    font-size: 15px;
  }

  .radio-button:nth-last-of-type(-n+2) {
    margin: 0px;
    padding-top: 10px;
    font-size: 15px;
  }

  .radio-buttons {
    margin-left: 30px;
  }

  .askrift {
    margin: 10px;
    font-size: 12px;
  }

  .contact-form-area {
    background: whitesmoke;
    box-shadow: 0 0 3px whitesmoke;
    padding: 10px 0px;
  }
  .footer-right-area {
    margin-bottom: 20px;
  }

  .contact-form-area h2 {
    font-size: 15px;
    text-transform: uppercase;
  }
}
