.profile-wrapper {
  padding: 0px 0;
}

.section-padding {
  padding: 50px 0;
}

#about .img-thumb img {
  border: 5px solid #1d6734;
  margin-left: 10px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

.text b,
p {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 17px;
  color: black;
  text-align: justify;
  text-justify: inter-word;
  letter-spacing: 3px;
}

.italic {
  font-style: italic;
  text-align: center;
  font-size: 17px;
  padding-top: 20px;
  padding-left: 250px;
  padding-right: 250px;
  letter-spacing: 2px;
}

.text {
  padding-top: 20px;
}

.profile-wrapper {
  color: black;
  font-size: 18px;
}

.meBackground {
  background-color: rgb(189, 189, 189);
  box-shadow: 0 0 3px whitesmoke;
}

.about-profile {
  position: relative;
  margin: 20px 0 20px 0;
}

.about-profile .pro-title {
  font-weight: 700;
  color: black;
  position: relative;
  width: 148px;
  display: inline-block;
  margin-bottom: 27px;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
ul,
ol {
  list-style: outside none none;
  padding-top: 100px;
  margin: 0;
}

ul li,
ol li {
  list-style: none;
}
.about-profile .pro-title:after {
  position: absolute;
  content: ":";
  color: #1d6734;
  font-size: 14px;
  left: 110px;
  text-indent: 50px;
  letter-spacing: 2px;
}

.about-profile .admin-sign {
  position: absolute;
  right: 45px;
  bottom: 10px;
}

.pro-detail {
  color: black;
  font-size: 15px;
  padding-left: 60px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* mobile/iPhone5-SE */
@media screen and (max-width: 320px) {
  .container {
    width: 100%;
  }

  ul,
  ol {
    list-style: outside none none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
  }

  .about,
  .services,
  .resume,
  .contact-form {
    padding-left: 30px;
    padding-right: 30px;
  }

  #about .img-thumb img {
    border: 3px solid #1d6734;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    margin-left: 0px;
  }

  .img-thumb {
    padding-bottom: 0px;
  }

  .section-padding {
    padding: 20px 0;
  }

  .text p {
    padding-left: 5px;
    padding-right: 10px;
    font-size: 9px;
    color: black;
    text-align: justify;
    letter-spacing: 1px;
  }

  .text b {
    padding-left: 5px;
    font-size: 9px;
    color: black;
    text-align: center;
    letter-spacing: 1px;
  }

  .italic {
    font-style: italic;
    text-align: center;
    font-size: 9px;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    letter-spacing: 1px;
  }

  .text {
    padding-top: 5px;
  }
  .profile-wrapper {
    color: black;
    font-size: 80px;
    padding-bottom: 18px;
    text-align: justify;
    border-bottom: 1px solid black;
  }

  .about-profile {
    position: relative;
    margin: 1px 0 1px 0;
    display: flex; /* display flex-items (children) inline */
    justify-content: center; /* centers them horizontally */
    align-items: center; /* and vertically */
  }

  .admin-profile li {
    margin: -27px;
  }

  .about-profile .pro-title {
    font-weight: 700;
    color: black;
    position: relative;
    width: 3px;
    display: inline-block;
    margin-bottom: 1px;
    font-size: 5px;
    letter-spacing: 1px;
  }

  .about-profile .pro-title:after {
    position: absolute;
    content: ":";
    color: #1d6734;
    font-size: 7px;
    left: 50px;
    margin: -25px;
  }

  .about-profile .admin-sign {
    position: absolute;
    right: 4px;
    bottom: 1px;
  }

  .pro-detail {
    color: black;
    font-size: 5px;
    padding-left: 100px;
    letter-spacing: 1px;
  }
}

/* mobile/iPhone6-7-8 */
@media screen and (min-width: 321px) and (max-width: 375px) {
  .container {
    width: 100%;
  }

  ul,
  ol {
    list-style: outside none none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
  }

  .about,
  .services,
  .resume,
  .contact-form {
    padding-left: 30px;
    padding-right: 30px;
  }

  #about .img-thumb img {
    border: 3px solid #1d6734;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    margin-left: 0px;
  }

  .img-thumb {
    padding-bottom: 0px;
  }

  .section-padding {
    padding: 20px 0;
  }

  .text p {
    padding-left: 5px;
    padding-right: 10px;
    font-size: 9px;
    color: black;
    text-align: justify;
    letter-spacing: 1px;
  }

  .text b {
    padding-left: 5px;
    font-size: 9px;
    color: black;
    text-align: center;
    letter-spacing: 1px;
  }

  .italic {
    font-style: italic;
    text-align: center;
    font-size: 9px;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    letter-spacing: 1px;
  }

  .text {
    padding-top: 5px;
  }
  .profile-wrapper {
    color: black;
    font-size: 80px;
    padding-bottom: 18px;
    text-align: justify;
    border-bottom: 1px solid black;
  }

  .about-profile {
    position: relative;
    margin: 1px 0 1px 0;
    display: flex; /* display flex-items (children) inline */
    justify-content: center; /* centers them horizontally */
    align-items: center; /* and vertically */
  }

  .admin-profile li {
    margin: -20px;
  }

  .about-profile .pro-title {
    font-weight: 700;
    color: black;
    position: relative;
    width: 3px;
    display: inline-block;
    margin-bottom: 1px;
    font-size: 7px;
    letter-spacing: 1px;
  }

  .about-profile .pro-title:after {
    position: absolute;
    content: ":";
    color: #1d6734;
    font-size: 10px;
    left: 65px;
    margin: -25px;
  }

  .about-profile .admin-sign {
    position: absolute;
    right: 4px;
    bottom: 1px;
  }

  .pro-detail {
    color: black;
    font-size: 7px;
    padding-left: 120px;
    letter-spacing: 1px;
  }
}

/* mobile/iPhone6-7-8 Plus */
@media screen and (min-width: 376px) and (max-width: 414px) {
  .container {
    width: 100%;
  }

  ul,
  ol {
    list-style: outside none none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
  }

  .about,
  .services,
  .resume,
  .contact-form {
    padding-left: 30px;
    padding-right: 30px;
  }

  #about .img-thumb img {
    border: 3px solid #1d6734;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    margin-left: 0px;
  }

  .img-thumb {
    padding-bottom: 0px;
  }

  .section-padding {
    padding: 20px 0;
  }

  .text p {
    padding-left: 5px;
    padding-right: 10px;
    font-size: 10px;
    color: black;
    text-align: justify;
    letter-spacing: 1px;
  }

  .text b {
    padding-left: 5px;
    font-size: 10px;
    color: black;
    text-align: center;
    letter-spacing: 1px;
  }

  .italic {
    font-style: italic;
    text-align: center;
    font-size: 10px;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    letter-spacing: 1px;
  }

  .text {
    padding-top: 5px;
  }
  .profile-wrapper {
    color: black;
    font-size: 80px;
    padding-bottom: 18px;
    text-align: justify;
    border-bottom: 1px solid black;
  }

  .about-profile {
    position: relative;
    margin: 1px 0 1px 0;
    display: flex; /* display flex-items (children) inline */
    justify-content: center; /* centers them horizontally */
    align-items: center; /* and vertically */
  }

  .admin-profile li {
    margin: -20px;
  }

  .about-profile .pro-title {
    font-weight: 700;
    color: black;
    position: relative;
    width: 3px;
    display: inline-block;
    margin-bottom: 1px;
    font-size: 8px;
    letter-spacing: 1px;
  }

  .about-profile .pro-title:after {
    position: absolute;
    content: ":";
    color: #1d6734;
    font-size: 10px;
    left: 75px;
    margin: -25px;
  }

  .about-profile .admin-sign {
    position: absolute;
    right: 4px;
    bottom: 1px;
  }

  .pro-detail {
    color: black;
    font-size: 8px;
    padding-left: 130px;
    letter-spacing: 1px;
  }
}

/* iPad */
@media screen and (min-width: 415px) and (max-width: 768px) {
  .container {
    width: 100%;
  }

  ul,
  ol {
    list-style: outside none none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
  }

  .about,
  .services,
  .resume,
  .contact-form {
    padding-left: 30px;
    padding-right: 30px;
  }

  #about .img-thumb img {
    border: 3px solid #1d6734;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    margin-left: 0px;
  }

  .img-thumb {
    padding-bottom: 0px;
  }

  .section-padding {
    padding: 20px 0;
  }

  .text p {
    padding-left: 5px;
    padding-right: 10px;
    font-size: 10px;
    color: black;
    text-align: justify;
    letter-spacing: 2px;
  }

  .text b {
    padding-left: 5px;
    font-size: 7px;
    color: black;
    text-align: center;
    letter-spacing: 1px;
  }

  .italic {
    font-style: italic;
    text-align: center;
    font-size: 7px;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    letter-spacing: 1px;
  }

  .text {
    padding-top: 5px;
  }
  .profile-wrapper {
    color: black;
    font-size: 80px;
    padding-bottom: 18px;
    text-align: justify;
  }

  .about-profile {
    position: relative;
    margin: 1px 0 1px 0;
  }

  .admin-profile li {
    margin: -20px;
  }

  .about-profile .pro-title {
    font-weight: 700;
    color: black;
    position: relative;
    width: 3px;
    display: inline-block;
    margin-bottom: 1px;
    font-size: 6px;
    letter-spacing: 1px;
  }

  .about-profile .pro-title:after {
    position: absolute;
    content: ":";
    color: #1d6734;
    font-size: 10px;
    left: 95px;
    margin: -25px;
  }

  .about-profile .admin-sign {
    position: absolute;
    right: 4px;
    bottom: 1px;
  }

  .pro-detail {
    color: black;
    font-size: 5px;
    padding-left: 120px;
    letter-spacing: 1px;
  }
}
