<section id="about" data-aos="fade-up" data-aos-duration="3000" class="about">
  <div class="container section-padding meBackground">
    <div class="row">
      <div
        data-aos="fade-in"
        data-aos-duration="3000"
        data-aos-delay="700"
        class="col-lg-6 col-md-6 col-sm-12 col-12"
      >
        <div class="img-thumb testing">
          <img
            class="img-fluid testing"
            src="assets/img/about/agnart.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
          <div class="about-profile">
            <ul class="admin-profile">
              <li>
                <span class="pro-title"> Nafn </span>
                <span class="pro-detail">Agnar Tryggvason</span>
              </li>
              <li>
                <span class="pro-title"> Aldur </span>
                <span class="pro-detail">21 ára</span>
              </li>
              <li>
                <span class="pro-title"> Reynsla </span>
                <span class="pro-detail">Nýútskrifaður</span>
              </li>
              <li>
                <span class="pro-title"> Land </span>
                <span class="pro-detail">Ísland</span>
              </li>
              <li>
                <span class="pro-title"> Staðsetning </span>
                <span class="pro-detail">Reykjavík</span>
              </li>
              <li>
                <span class="pro-title"> Netfang </span>
                <span class="pro-detail">lightweight@lightweight.is</span>
              </li>
              <li>
                <span class="pro-title"> Sími </span>
                <span class="pro-detail">866-1910</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-xs-12 text">
        <b>Agnar er eigandi og þjálfari Lightweight.is</b>
        <p>
          Hann lærði einkaþjálfarann í fjarnámi hjá Intensive PT, sem er einn
          stærsti einkaþjálfunarskóli Svíþjóðar, og útskrifaðist þaðan á fjórða
          stigi (EQF Level 4) af Europe Active (EHFA) vorið 2020. <br />Hann er
          nýútskrifaður einkaþjálfari og er tilbúinn að takast á við öll
          markmið, hvort sem það er að þyngjast, léttast eða massa sig upp.
          Listinn er ótæmandi!<br />
        </p>
      </div>
      <div class="col-12">
        <p class="italic">
          „Sem einkaþjálfari stuðla ég að því að leiðbeina og hvetja
          einstaklinga í gegnum æfingarnar“
        </p>
      </div>
      <div class="col-lg-12 col-xs-12 text">
        <p>
          Agnar hefur til fjölda ára verið að æfa á eigin vegum á alls konar
          hátt. Hann æfir mest megnis með lóðum en er mikið fyrir æfingar með
          líkamsþyngd svo sem calisthenics.<br />
          Honum finnst skemmtilegast að blanda þessum tveimur æfingaraðferðum
          saman á æfingu og æfa þær sem super- eða trisets fyrir hvern vöðvahóp.
          Með því að æfa svona er maður að beyta meiri ákefð á vöðvanna á mun
          styttri tíma.
        </p>
      </div>
      <div class="col-12">
        <p class="italic">
          „Hjá mér færðu sérsniðið og einstaklingsmiðað æfingar- og matarplan
          svo það henti þér sem best.“
        </p>
      </div>
    </div>
  </div>
</section>
