<section id="about" class="about">
    <div class="container section-padding meBackground">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
            <img class="img-fluid" src="assets/img/about/agnar.PNG" alt="">
          </div>
        </div> 
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
            <b>Agnar er eigandi og þjálfari Lightweight.is</b>
            <p>Agnar lærði einkaþjálfarann hjá Intensive PT sem er stærsti einkaþjálfunarskóli Svíþjóðar í fjarnámi og er þá útskrifaður á fjórða stigi (EQF Level 4) af Europe Active (EHFA).
              Hann er nýútskrifaður einkaþjálfari og er tilbúinn að takast á við öllum markmiðum, hvort það sé að þyngjast, léttast eða massa sig upp, listinn er ótæmandi!
              „Sem einkaþjálfari stuðla ég á að leiðbeina og hvetja einstaklinga í gegnum æfingarnar. 
              Hjá mér færðu sérsnítt einstaklingsmiðað æfingar- og næringarplan, sem verða alltaf hægt að breyta og þróa svo það 
              henti þér sem best.“</p>
            <div class="about-profile">
              <ul class="admin-profile">
                <li><span class="pro-title"> Nafn </span> <span class="pro-detail">Agnar Tryggvason</span></li>
                <li><span class="pro-title"> Aldur </span> <span class="pro-detail">21 ára</span></li>
                <li><span class="pro-title"> Reynsla </span> <span class="pro-detail">Nýútskrifaður</span></li>
                <li><span class="pro-title"> Land </span> <span class="pro-detail">Ísland</span></li>
                <li><span class="pro-title"> Staðsetning </span> <span class="pro-detail">Reykjavík</span></li>
                <li><span class="pro-title"> Netfang </span> <span class="pro-detail">lightweight@lightweight.is</span></li>
                <li><span class="pro-title"> Sími </span> <span class="pro-detail">866 1910</span></li>
              </ul>
            </div>
          </div>
        </div>   
      </div>
    </div>
  </section>
