.section-padding {
  padding: 50px 0;
}

#training .img-thumb img {
  border: 5px solid #1d6734;
  box-shadow: 0px 0px 10px rgba(41, 77, 41, 0.609);
  height: 170px;
  width: 170px;
}
ul.a {
  padding-left: 50px;
  padding-bottom: 50px;
  padding-top: 20px;
}
ul li {
  color: #1d6734;
  list-style-type: decimal;
  font-size: 18px;
}
ol li {
  color: #1d6734;
  list-style-type: disc;
  font-size: 18px;
}

h2 {
  text-align: center;
  font-size: 80px;
  color: #1d6734;
  letter-spacing: 5px;
}

b {
  display: flex; /* display flex-items (children) inline */
  justify-content: center; /* centers them horizontally */
  align-items: center; /* and vertically */
  font-size: 15px;
  color: black;
}

.img-thumb {
  display: flex; /* display flex-items (children) inline */
  justify-content: center; /* centers them horizontally */
  align-items: center; /* and vertically */
  padding-bottom: 10px;
}

.text p {
  padding-left: 5px;
  padding-right: 20px;
  font-size: 17px;
  color: black;
  text-align: justify;
  text-justify: inter-word;
  letter-spacing: 3px;
  padding-bottom: 5px;
}

.meBackground {
  background-color: rgb(189, 189, 189);
  box-shadow: 0 0 3px whitesmoke;
}


/* mobile/iPhone5-SE */
@media screen and (max-width: 320px) {
  .container {
    width: 100%;
  }

  .about,
  .services,
  .resume,
  .contact-form {
    padding: 30px;
  }
  .section-padding {
    padding: 20px 0;
  }

  #training .img-thumb img {
    border: 2px solid #1d6734;
    box-shadow: 0px 0px 10px rgba(41, 77, 41, 0.609);
    height: 70px;
    width: 70px;
  }
  ul.a {
    padding-left: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  ul li {
    color: #1d6734;
    list-style-type: decimal;
    font-size: 12px;
  }
  ol li {
    color: #1d6734;
    list-style-type: disc;
    font-size: 12px;
  }

  h2 {
    text-align: center;
    font-size: 40px;
    color: #1d6734;
    letter-spacing: 0px;
  }

  b {
    display: flex; /* display flex-items (children) inline */
    justify-content: center; /* centers them horizontally */
    align-items: center; /* and vertically */
    font-size: 6px;
    color: black;
  }

  .img-thumb {
    display: flex; /* display flex-items (children) inline */
    justify-content: center; /* centers them horizontally */
    align-items: center; /* and vertically */
    padding-bottom: 1px;
  }

  .text p {
    padding-left: 5px;
    padding-right: 20px;
    font-size: 9px;
    color: black;
    text-align: justify;
    text-justify: inter-word;
    letter-spacing: 1px;
    padding-bottom: 5px;
  }
}

/* mobile/iPhone6-7-8 */
@media screen and (min-width: 321px) and (max-width: 375px) {
  .container {
    width: 100%;
  }

  .about,
  .services,
  .resume,
  .contact-form {
    padding: 30px;
  }
  .section-padding {
    padding: 20px 0;
  }

  #training .img-thumb img {
    border: 2px solid #1d6734;
    box-shadow: 0px 0px 10px rgba(41, 77, 41, 0.609);
    height: 90px;
    width: 90px;
  }
  ul.a {
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 5px;
  }
  ul li {
    color: #1d6734;
    list-style-type: decimal;
    font-size: 12px;
  }
  ol li {
    color: #1d6734;
    list-style-type: disc;
    font-size: 12px;
  }

  h2 {
    text-align: center;
    font-size: 40px;
    color: #1d6734;
    letter-spacing: 0px;
  }

  b {
    display: flex; /* display flex-items (children) inline */
    justify-content: center; /* centers them horizontally */
    align-items: center; /* and vertically */
    font-size: 8px;
    color: black;
  }

  .img-thumb {
    display: flex; /* display flex-items (children) inline */
    justify-content: center; /* centers them horizontally */
    align-items: center; /* and vertically */
    padding-bottom: 1px;
  }

  .text p {
    padding-left: 5px;
    padding-right: 20px;
    font-size: 9px;
    color: black;
    text-align: justify;
    text-justify: inter-word;
    letter-spacing: 1px;
    padding-bottom: 5px;
  }
}

/* mobile/iPhone6-7-8 Plus */
@media screen and (min-width: 376px) and (max-width: 414px) {
  .container {
    width: 100%;
  }

  .about,
  .services,
  .resume,
  .contact-form {
    padding: 30px;
  }
  .section-padding {
    padding: 20px 0;
  }

  #training .img-thumb img {
    border: 2px solid #1d6734;
    box-shadow: 0px 0px 10px rgba(41, 77, 41, 0.609);
    height: 90px;
    width: 90px;
  }
  ul.a {
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 5px;
  }
  ul li {
    color: #1d6734;
    list-style-type: decimal;
    font-size: 12px;
  }
  ol li {
    color: #1d6734;
    list-style-type: disc;
    font-size: 12px;
  }

  h2 {
    text-align: center;
    font-size: 40px;
    color: #1d6734;
    letter-spacing: 0px;
  }

  b {
    display: flex; /* display flex-items (children) inline */
    justify-content: center; /* centers them horizontally */
    align-items: center; /* and vertically */
    font-size: 8px;
    color: black;
  }

  .img-thumb {
    display: flex; /* display flex-items (children) inline */
    justify-content: center; /* centers them horizontally */
    align-items: center; /* and vertically */
    padding-bottom: 1px;
  }

  .text p {
    padding-left: 5px;
    padding-right: 20px;
    font-size: 10px;
    color: black;
    text-align: justify;
    text-justify: inter-word;
    letter-spacing: 1px;
    padding-bottom: 5px;
  }
}

/* iPad */
@media screen and (min-width: 415px) and (max-width: 768px) {
  .container {
    width: 100%;
  }

  .about,
  .services,
  .resume,
  .contact-form {
    padding: 30px;
  }
  .section-padding {
    padding: 20px 0;
  }

  #training .img-thumb img {
    border: 2px solid #1d6734;
    box-shadow: 0px 0px 10px rgba(41, 77, 41, 0.609);
    height: 90px;
    width: 90px;
  }
  ul.a {
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 5px;
  }
  ul li {
    color: #1d6734;
    list-style-type: decimal;
    font-size: 12px;
  }
  ol li {
    color: #1d6734;
    list-style-type: disc;
    font-size: 12px;
  }

  h2 {
    text-align: center;
    font-size: 40px;
    color: #1d6734;
    letter-spacing: 0px;
  }

  b {
    display: flex; /* display flex-items (children) inline */
    justify-content: center; /* centers them horizontally */
    align-items: center; /* and vertically */
    font-size: 8px;
    color: black;
  }

  .img-thumb {
    display: flex; /* display flex-items (children) inline */
    justify-content: center; /* centers them horizontally */
    align-items: center; /* and vertically */
    padding-bottom: 1px;
  }

  .text p {
    padding-left: 5px;
    padding-right: 20px;
    font-size: 13px;
    color: black;
    text-align: justify;
    text-justify: inter-word;
    letter-spacing: 1px;
    padding-bottom: 5px;
  }
}
