<section id="training" class="about">
  <div class="container section-padding meBackground">
    <div class="row">
      <div class="col-lg-12 col-xs-12 text">
        <h2>Þjálfun</h2>
        <ul class="a">
          <li><p>Áður en þjálfun hefst færðu sendan spurningarlista sem þú svarar og sendir mér tilbaka.</p></li>
          <li><p>Í framhaldinu færðu sent æfingar- og matarplan.</p></li>
          <li><p>Ef mæling er innifalin í þjálfuninni hittumst við svo á léttum fundi þar sem við tökum stöðuna og förum yfir næstu skref.</p></li>
          <ol>
            <li><p>Á fundinum gerum við mælingar ásamt því taka nokkur próf (styrktar- og liðleikapróf).</p></li>
            <li><p>Mánaðarlega tökum við nýjar mælingar og próf.</p></li>
          </ol>
          <li><p>Í einkaþjálfun hittumst við einnig á okkar skipulögðum tímum yfir æfingatímann (val um hversu oft í viku kemur fram í verðskrá).</p></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-4">
        <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
          <img class="img-fluid" src="assets/img/list.png" alt="">
        </div>
        <b>Spurningalisti</b>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-4">
        <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
          <img class="img-fluid" src="assets/img/meeting.png" alt="">
        </div>
        <b>Fundur</b>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-4">
        <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
          <img class="img-fluid" src="assets/img/gym.png" alt="">
        </div>
        <b>Mæling og stutt æfing</b>
      </div>
    </div>
  </div>
</section>
