<section id="training" class="about">
  <div class="container section-padding meBackground">
    <div class="row">
      <div class="col-lg-12 col-xs-12 text">
        <h2>Þjálfun</h2>
        <ul class="a">
          <li><p>Áður en þjálfun hefst færðu sendan spurningarlista sem þú þarft að svara og senda mér tilbaka.</p></li>
          <li><p>Í framhaldinu hittumst við svo á léttum fundi þar sem við tökum stöðuna og förum yfir næstu skref.</p></li>
          <li><p>Á fundinum gerum við mælingar, þú færð æfingar- og matarplan, ásamt því að við tökum nokkur próf (styrktar- og liðleikapróf).</p></li>
          <ol>
            <li><p>Þú hefur svo þína æfingavegferð og við hittumst reglulega á okkar skipulögðum tímum yfir æfingatímann.</p></li>
            <li><p>Mánaðarlega hittumst við svo og gerum nýjar mælingar og próf.</p></li>
          </ol>
        </ul>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-4">
        <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
          <img class="img-fluid" src="assets/img/list.png" alt="">
        </div>
        <b>Spurningalisti</b>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-4">
        <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
          <img class="img-fluid" src="assets/img/meeting.png" alt="">
        </div>
        <b>Fundur</b>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-4">
        <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
          <img class="img-fluid" src="assets/img/gym.png" alt="">
        </div>
        <b>Mæling og stutt æfing</b>
      </div>
    </div>
  </div>
</section>
