
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
@import '@angular/material/prebuilt-themes/indigo-pink.css';


html {
  scroll-behavior: smooth;
  scroll-padding: 50px 0 0 50px;
}

.mat-focused .mat-form-field-label {
  /*change color of label*/
  color: green !important;
 }

 .mat-form-field-underline {
  /*change color of underline*/
  background-color: green !important;
}

.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: green !important;
}


body {
  background: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #666;
  line-height: 25px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-size: 38px;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
}

.script-font {
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 30px;
}


a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a:hover {
  text-decoration: none;
}

a a:focus {
  outline: none;
}

p {
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0px;
  font-size: 14px;
}

.section-titile-bg {
  display: inline;
  font-size: 115px;
  font-weight: 700;
  left: -173px;
  opacity: 0.1;
  position: absolute;
  top: -14px;
  text-align: center;
}

.section-title-header p {
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 36px;
}

.section-title {
  color: #252525;
  font-size: 38px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 48px;
  padding: 0 10px;
  position: relative;
}

button:focus {
  outline: none !important;
}

.social-icon li {
  display: inline-block;
}

.social-icon li a {
  color: #000;
  background: #fff;
  width: 35px;
  height: 35px;
  line-height: 38px;
  display: block;
  text-align: center;
  border-radius: 100%;
  font-size: 16px;
  margin: 15px 6px 12px 6px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.social-icon li a:hover {
  color: #fff;
}

.social-icon li .facebook:hover {
  background: #3b5999;
}

.social-icon li .instagram:hover {
  background: #D6274D;
}

/* ScrollToTop */
a.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
  text-decoration: none;
}

a.back-to-top i {
  display: block;
  font-size: 22px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: #1d6734;
  border-radius: 2px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

a.back-to-top:hover, a.back-to-top:focus {
  text-decoration: none;
}

.section-padding2 {
  padding: 30px 0;
}


//Verður að vera hérna, annars virka takkarnir ekki rétt
  .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    opacity: 0 !important; /*click effect color change*/
    background-color: #1d6734;  }

    .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #1d6734; /*inner circle color change*/  }

    .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #1d6734; /*outer ring color change*/  }


.navbar {
  padding: 0;
}

.navbar li.active a.nav-link {
  color: #1d6734;
}

.about, .services, .resume, .contact-form{
  padding-top: 70px;
  padding-bottom: 70px;
}


//herna byrjar stuff(Ef delete, þá stoppa hreyfingar)

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}




//Nav Burger for Phone-----------------------------------------------------------------
.slicknav_btn {
  border-color: #1d6734;
}

.slicknav_menu .slicknav_icon-bar {
  background: #1d6734;
}

.navbar-toggler {
  display: none;
}

.mobile-menu {
  display: none;
}

.slicknav_menu {
  display: none;
}
.navbar-brand img {
  width: 75%;
  margin: 5px;
}
@media screen and (max-width: 768px) {
  .navbar-header {
    width: 100%;
  }
  .navbar-brand {
    position: absolute;
    padding: 0px 0px;
    top: 0;
  }
  .navbar-brand img {
    width: 75%;
    margin: 5px;
  }
  #mobile-menu {
    display: none;
  }
  .slicknav_menu {
    display: block;
  }
  .slicknav_nav .active a {
    background: #E91E63;
    color: #fff;
  }
  .slicknav_nav a:hover,
  .slicknav_nav a:focus,
  .slicknav_nav .active {
    color: #1d6734;
    outline: none;
    background: #a9e094;
  }
}



/*!
 * SlickNav Responsive Mobile Menu v1.0.3
 * (c) 2015 Josh Cope
 * licensed under MIT
 */
 .slicknav_btn {
  cursor: pointer;
  display: block;
  float: right;
  height: 35px;
  line-height: 50px;
  padding: 10px 0 9px;
  position: relative;
  vertical-align: middle;
  width: 44px;
}
  .slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
    margin-top: 0.188em; }

.slicknav_menu {
  *zoom: 1; }
  .slicknav_menu .slicknav_menutxt {
    display: block;
    line-height: 1.188em;
    float: left; }
  .slicknav_menu .slicknav_icon {
    margin: 0.188em 0 0 0.438em; }
  .slicknav_menu .slicknav_no-text {
    margin: 0; }
  .slicknav_menu .slicknav_icon-bar {
    display: block;
    width: 1.125em;
    height: 0.125em;
    margin: 0 auto;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .slicknav_menu:before {
    content: " ";
    display: table; }
  .slicknav_menu:after {
    content: " ";
    display: table;
    clear: both; }

.slicknav_nav {
  clear: both; }
  .slicknav_nav ul {
    display: block; }
  .slicknav_nav li {
    display: block;
    line-height: 30px;
  }
  .slicknav_nav li:not(:first-child){
  }
  .slicknav_nav .slicknav_arrow {
    background: #ededed none repeat scroll 0 0;
    float: right;
    text-align: center;
    width: 35px;
    color: #666;
  }
  .slicknav_nav .slicknav_item {
    cursor: pointer; }
    .slicknav_nav .slicknav_item a {
      display: inline; }
  .slicknav_nav .slicknav_row {
    display: block; }
  .slicknav_nav a {
    display: block; }
  .slicknav_nav .slicknav_parent-link a {
    display: inline; }

.slicknav_brand {
  float: left; }

.slicknav_menu {
  font-size: 16px;
  box-sizing: border-box;
}
.slicknav_menu ul{
  background:  rgb(189, 189, 189);;
}
  .slicknav_menu * {
    box-sizing: border-box; }
  .slicknav_menu .slicknav_menutxt {
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 3px #000; }

.slicknav_btn {
  border: 1px solid;
  border-radius: 0;
  margin: 11px 15px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.slicknav_nav {
  color: #fff;
  font-size: 0.875em;
  list-style: outside none none;
  margin: 0;
  max-height: 350px;
  padding: 0;
  width: 100%;
}
  .slicknav_nav ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0 0 0 20px; }
  .slicknav_nav .slicknav_row {
    padding: 5px 10px;
    margin: 2px 5px; }
  .slicknav_nav a {
    padding: 5px 10px;
    margin: 2px 5px;
    text-decoration: none;
    color: #666; }
  .slicknav_nav .slicknav_txtnode {
    margin-left: 15px; }
  .slicknav_nav .slicknav_item a {
    padding: 0;
    margin: 0; }
  .slicknav_nav .slicknav_parent-link a {
    padding: 0;
    margin: 0; }

.slicknav_brand {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  padding: 7px 12px;
  height: 44px; }



